<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
        <div class="btn-group">

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Login
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for( 'crud.crud') }}>SQL CRUD</a></li>
                            <li><a class="dropdown-item" href={{ url_for( 'crud_api.crud_api') }}>SQL CRUD Async</a></li>
                            <li><a class="dropdown-item" href={{ url_for( 'crud.search') }}>SQL Search</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        {% block navbar_script %}
        <!-- Navigation bar JavaScript support -->
        <script src={{ url_for( "static", filename="javascript/navbar.js" , version='140' ) }}></script>
        {% endblock %}

    </div>
</nav>